<html>
<head>
    <title>Weather</title>
    <script src="/libs/vendor.js" type="application/javascript"></script>
</head>
<body><p>
    Inside:
{{weather.inside}}
</p>
<p>
Outside:
{{weather.outside}}
</p>
<p>{{ weather.humanTimestamp }}</p>
<p><i>{{ weather.timestamp.format("Y-m-d H:i:s") }}</i></p>
</body>

</html>